 *
 {
 	margin: 0;
 	padding: 0;
 }
#nav-bar
{
	position: sticky;
	top: 0;
	z-index: 10;
}
 .navbar-brand img
 {
 	height: 100px;
 	padding-left: 80;
 }
 .navbar-nav li
 {
 	padding: 0 10px;

 }
  .navbar-nav li a
 {
 	float: right;
 	text-align: left;
 }
 #nav-bar ul li a:hover
 {
 	color: #007bff!important;
 }
 .navbar
 {
 	background: #fff;
 }
 .navbar-toggler
 {
 	border: none!important;
 }
 .nav-link
 {
 	color: #555!important;
 	font-weight: 600;
 	font-size: 16px;
 }
 #slide
 {
 	width: 100%;
 	background-image: center;
 	image-rendering: center;
 }
 #about 
 {
 	padding-top: 50px;
 	padding-bottom: 50px;
 	color: #555;
 }

#about .btn
{
	margin-top: 20px;
	margin-bottom: 30px;
}
.about-content
{
	padding-top: 20px;
}
.skills-bar p
{
	margin-bottom: 6px;
	font-weight: 600;
}
.progress-bar
{
	border-radius: 16px;
}
.progress
{
	border-radius: 16px !important;
	margin-bottom: 20px;
}
#services
{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(https://images.pexels.com/photos/878560/pexels-photo-878560.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding-top: 50px;
	padding-bottom: 50px;
}
#services h1
{
	text-align: center;
	color: #efefef !important;
	padding-bottom: 10px;
}
#services h1::after
{
	content: '';
	background: #efefef;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
.services
{
	margin-top: 40px;
}
.icon
{
	font-size: 20px;
	margin: 20px auto;
	padding: 20px;
	height: 80px;
	width: 80px;
	border: 1px solid #fff;
	border-radius: 50%;
}
#services p
{
	font-size: 14px;
	margin-top: 20px;
	color: #ccc;
}
.services .col-md-3:hover{
	background: #007bff;
	cursor: pointer;
	transition: 0.7s;
}
#terapeuta
{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
h1
{
	text-align: center;
	color: #555 !important;
	padding-bottom: 10px;
}
h1::after
{
	content: '';
	background: #007bff;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
.profile-pic
{
	margin-top: 25px;
}
.profile-pic .img-box
{
	opacity: 1;
	display: block;
	position: relative;
}
.profile-pic .img-box img
{
	filter: grayscale(1);
}
.profile-pic .img-box img:hover
{
	filter: grayscale(0);
	cursor: pointer;
}
.profile-pic h2
{
	font-size: 22px; 
	font-weight: bold;
	margin-top: 15px;
	color: #007bff !important;
}
.profile-pic h3
{
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
}
#terapeuta .fa
{
	height: 25px;
	width: 25px;
	color: #007bff !important;
	background: #fff;
	padding: 4px;
	border-radius: 50%;
}
.img-box ul
{
	padding: 15px 0;
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
}
.img-box ul li
{
	padding: 5px;
	display: inline-block;
}
.img-box:hover ul
{
	opacity: 1;
}
.img-box ul,.img-box ul li
{
	transition: 0.5s;
}	
#promo
{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://images.pexels.com/photos/1454288/pexels-photo-1454288.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center;
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
    font-size: 38px;
	
}
#PRODUTOS
{

}
.single-PRODUTOS
{
	margin: 10px auto;
	display: inline;
	float: left;
	width: 100%;
	background-color: #fff;
	transition: 0.5s;
}	
.single-PRODUTOS:hover
{
	box-shadow: 0 2px 20px #333;


}
.PRODUTOS-head
{
	background-color: #00A6A6;
	display: inline;
	float: left;
	padding: 10px 5px;
	text-align: center;
	width: 100%;
}
.PRODUTOS-head h2
{
	color: #fff
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px;
	text-transform: 
}
.PRODUTOS-head p
{
	font-size: 25px;
	color: #black;
	font-weight: bold;
	line-height: 30px;

}
#PRODUTOS span
{
	font-size: 15px;
}
.Produtos-content
{
	display: inline;
	float: left;
	width: 100%;
	padding: 0 15px;	
}
.Produtos-content ul li
{
	border-bottom: 1 px solid #efefef;
	padding: 15px 10px;
	list-style: none;
}
ul li:last-child
{
	border: none;
}
.fa-check-circle
{
	color: blue;
	margin-right: 10px;
	font-size: 20px;
}
.contato-button
{
	display: inline;
	float: left;
	padding: 15px 15px 30px;
	text-align: center;
	width: 100%;
}
.contato-btn
{
	background-color: #2196f3
	border-radius: 3px;
	display: inline-block;
	font-size: 18px;
	padding: 15px 50px;
	transition: 0.5s;
}
.contato-btn:hover{
	border-color: 1px solid #fff;
	background-color: #F49F0A;
}
.a
{
	text-decoration: none!important;
	color: #fff!important;

}
.follow
{
	background: #fff;
	padding: 10px;
	margin: 15px;
}
.contato-info .fa
{
	margin: 10px;
	color: #007bff
	font-weight: bold;
}
#descrição
{
	background: white;
	color: black;
	padding: 12px;
}
.fa-heart-o
{
	margin: 2px;
	color: black;
}
